---
- name: Create RKE2 config directory
  ansible.builtin.file:
    path: "{{ rke2_config_dir }}"
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Configure RKE2 server
  ansible.builtin.template:
    src: config.yaml.j2
    dest: "{{ rke2_config_dir }}/config.yaml"
    owner: root
    group: root
    mode: '0600'
  notify: Restart rke2-server
