---
- name: Check if RKE2 is already installed
  ansible.builtin.stat:
    path: /usr/local/bin/rke2
  register: rke2_binary

- name: Download RKE2 installer
  ansible.builtin.get_url:
    url: "{{ rke2_install_script_url }}"
    dest: /tmp/rke2-install.sh
    mode: '0755'
  when: not rke2_binary.stat.exists

- name: Install RKE2 server
  ansible.builtin.shell: |
    INSTALL_RKE2_VERSION="{{ rke2_version }}" /tmp/rke2-install.sh
  args:
    creates: /usr/local/bin/rke2
  when: not rke2_binary.stat.exists

- name: Remove installer script
  ansible.builtin.file:
    path: /tmp/rke2-install.sh
    state: absent
